GodRunner/Service References/MazeRunner/GodGame.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GodGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/GodGame.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/GodGame.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ingesup-maze.azurewebsites.net/WCF/GodGame.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ingesup.Maze.Server.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGodGame_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGodGame_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_LoadGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadGame" />
  </wsdl:message>
  <wsdl:message name="IGodGame_LoadGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_ResetGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetGame" />
  </wsdl:message>
  <wsdl:message name="IGodGame_ResetGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_AddPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayer" />
  </wsdl:message>
  <wsdl:message name="IGodGame_AddPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_MovePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:MovePlayer" />
  </wsdl:message>
  <wsdl:message name="IGodGame_MovePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_AddClone_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClone" />
  </wsdl:message>
  <wsdl:message name="IGodGame_AddClone_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCloneResponse" />
  </wsdl:message>
  <wsdl:message name="IGodGame_RemoveClone_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveClone" />
  </wsdl:message>
  <wsdl:message name="IGodGame_RemoveClone_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCloneResponse" />
  </wsdl:message>
  <wsdl:portType name="IGodGame">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/CreateGame" message="tns:IGodGame_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/CreateGameResponse" message="tns:IGodGame_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/LoadGame" message="tns:IGodGame_LoadGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/LoadGameResponse" message="tns:IGodGame_LoadGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/ResetGame" message="tns:IGodGame_ResetGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/ResetGameResponse" message="tns:IGodGame_ResetGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/AddPlayer" message="tns:IGodGame_AddPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/AddPlayerResponse" message="tns:IGodGame_AddPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/MovePlayer" message="tns:IGodGame_MovePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/MovePlayerResponse" message="tns:IGodGame_MovePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/AddClone" message="tns:IGodGame_AddClone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/AddCloneResponse" message="tns:IGodGame_AddClone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveClone">
      <wsdl:input wsaw:Action="http://tempuri.org/IGodGame/RemoveClone" message="tns:IGodGame_RemoveClone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGodGame/RemoveCloneResponse" message="tns:IGodGame_RemoveClone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGodGame" type="tns:IGodGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGodGame/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadGame">
      <soap:operation soapAction="http://tempuri.org/IGodGame/LoadGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetGame">
      <soap:operation soapAction="http://tempuri.org/IGodGame/ResetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlayer">
      <soap:operation soapAction="http://tempuri.org/IGodGame/AddPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovePlayer">
      <soap:operation soapAction="http://tempuri.org/IGodGame/MovePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClone">
      <soap:operation soapAction="http://tempuri.org/IGodGame/AddClone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveClone">
      <soap:operation soapAction="http://tempuri.org/IGodGame/RemoveClone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GodGame">
    <wsdl:port name="BasicHttpBinding_IGodGame" binding="tns:BasicHttpBinding_IGodGame">
      <soap:address location="http://ingesup-maze.azurewebsites.net/WCF/GodGame.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>